<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNIVERSUM</title>

    <!-- Enlaza tu archivo CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stylesMUAC.css') }}">

    <!-- Enlaza tu archivo JS -->
</head>
<body>
    <header class="item" style="background-image: url('https://www.universum.unam.mx/assets/fotos/header-agua.jpg')">
        <h1>UNIVERSUM</h1>
    </header>
    
  <nav>
      <ul>
          <li><a href="{{ url_for('index') }}">Inicio</a></li>
          <li><a href="{{ url_for('paginaMUAC') }}">MUAC</a></li>
          <li><a href="{{ url_for('paginaPabellon') }}">Pabellón de la Biodiversidad</a>        </li>
          <li><a href="{{ url_for('paginaBN') }}">Biblioteca Nacional</a></li>
          <li><a href="{{ url_for('paginaUNIVERSUM') }}">Universum</a></li>
          <li><a href="{{ url_for('paginaMUCA') }}">MUCA</a></li>
          <li><a href="{{ url_for('paginaJardinB') }}">Jardín Botánico</a></li>
      </ul>
  </nav>

    <section id="acerca">
        <div class="section-content">
            <h2>Acerca de</h2>
            <div class="columnas">            
                <p>Universum, el Museo de las Ciencias de la Universidad Nacional Autónoma de México es pionero -en su tipo- en Latinoamérica.
                    En un entorno de más de10 hectáreas de zona de Reserva ecológica del Pedregal de San Ángel y áreas jardinadas, Universum cuenta con 25,000 m2 construídos de los cuales 12,000 m2 están destinados a exposiciones permanentes.</p>
            </div>
        </div>
              <div class="contenedor">
                 <img src="https://www.universum.unam.mx/assets/temp/planetario/planetario-pg.jpg" alt="Descripción de la imagen" class="imagen-pequena">
              </div>
        </div>
    </section>

    <section id="mision">
        <div class="section-content">
            <h2>Misión y visión</h2>
            <div class="columnas">
                <p>Divulgar la ciencia en un espacio de encuentro interactivo, experimental, creativo e inclusivo, a través de experiencias museológicas y educativas de gran impacto sensorial, educativo y cultural.
                    Promover la cultura científica, facilitar el aprendizaje, propiciar el pensamiento crítico y la reflexión.                    
                    Alentar a los niños y los jóvenes a explorar y desarrollar sus intereses y habilidades en la comprensión del mundo.</p>
            </div>
        </div>
    </section>

    <section id="horarios">
        <div class="section-content">
            <h2>Horarios y Costo</h2>
            <div class="columnas">
                <p>De miércoles a domingo, de 10:00 a 17:00 horas.</p>
                <p>• Entrada general: $90.00</p>
                <p>• Niños, estudiantes, maestros, miembros del INAPAM, trabajadores y exalumnos UNAM con credencial vigente*: $80.00</p>
                <p>• Niños menores de 2 años no pagan boleto.</p>
            </div>
        </div>
    </section>

    <section id="direccion">
        <div class="section-content">
            <h2>Dirección</h2>
            <p>Dirección: Circuito Cultural de Ciudad Universitaria S/N, Coyoacán, Cd. Universitaria, 04510 Ciudad de México.  </p>
        </div>
    </section>

    <section id="contacto">
        <div class="section-content">
            <h2>Contacto</h2>          
            <div class="columnas">
                <p>55562-27260</p>
                <p>atencionv@dgdc.unam.mx </p>
            </div>
        </div>
    </section>
    
    <div class="comments-container">
        <h1>Comentarios</h1>
		<ul id="comments-list" class="comments-list">
            {% for comentario in comentarios %}
            <li>
				<div class="comment-main-level">
					<!-- Contenedor del Comentario -->
					<div class="comment-box">
						<div class="comment-head">
							
                            <h6 class="comment-name by-author"><a>{{comentario[0]}}:  {{comentario[1]}}</a></h6>
							<span>{{comentario[2]}}</span>
						</div>
						<div class="comment-content">{{comentario[3]}}</div>
					</div>
				</div>
            </li>
            {% endfor %}
        </ul>
    </div>
    <div class="forms-container">
        <form action="/agregar_comentario" method="post">
            <label for="usuario">Usuario:</label>
            <input type="text" name="usuario" required>
            <br>
            <label for="comentario">Comentario:</label>
            <textarea name="comentario" required></textarea>
            <br>
            <button type="submit">Agregar Comentario</button>
        </form>

        <form action="/eliminar_comentario" method="post">
            <label for="comentario_id">ID de comentario:</label>
            <input type="text" name="comentario_id" required>
            <br>
            <label for="usuario">Usuario:</label>
            <textarea name="usuario" required></textarea>
            <br>
            <button type="submit">Eliminar Comentario</button>
        </form>

        <form action="/editar_comentario" method="post">
            <label for="comentario_id">ID de comentario:</label>
            <input type="text" name="comentario_id" required>
            <br>
            <label for="usuario">Usuario:</label>
            <textarea name="usuario" required></textarea>
            <br>
            <label for="nuevo_comentario">Nuevo comentario:</label>
            <textarea name="nuevo_comentario" required></textarea>
            <br>
            <button type="submit">Editar Comentario</button>
        </form>
    </div>
    </div>

</body>
</html>
